<div class="row">
  <div class="col-sm-9" id="gamescreen" style="width: 100%"></div>
<script>
  <%= render partial: 'game.js.erb' %>
  <%= render partial: 'home.js.erb' %>
</script>
  <div class="col-sm-3">
    <ul id="chat">
      <%= render @messages %>
    </ul>
    <%= form_for :message, url: home_index_path, method: 'post', html: {id: 'chatform'}, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>