<div class="row">
  <div class="col-xs-9" id="gamescreen"></div>
<script>
  <%= render partial: 'game.js.erb' %>
  <%= render partial: 'gamemovement.js.erb' %>
  <%= render partial: 'chat.js.erb' %>
  <%= render partial: 'playerjoined.js.erb' %>
</script>
  <div class="col-xs-3">
    <ul id="chat">
      <% @messages.each do |x| %>
        <li><%= x.name %> : <%= x.content %></li>
      <% end %>
    </ul>
    <%= form_for :message, url: home_index_path, method: 'post', html: {id: 'chatform'}, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>
<% if @players.count > 1 %>
<script>
  spawnEnemy('<%=@players.first%>');
</script>
<% end %>